--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.12.1+cpu
torchvision==0.27.1+cpu
fastai==2.8.7
fastcore==1.13.7
fastbook==0.0.29
fastdownload==0.0.7
voila==0.5.12
ipywidgets==7.8.5
icrawler==0.6.10
Pillow==12.1.1
matplotlib==3.10.8
numpy==2.4.2
pandas==3.0.1
scikit-learn==1.9.0
scipy==1.18.0
sentencepiece==0.2.1
graphviz
