--extra-index-url https://download.pytorch.org/whl/cpu

torch
torchvision
fastai==2.8.7
fastcore
fastbook==0.0.29
fastdownload
voila==0.5.12
ipywidgets
icrawler==0.6.10
Pillow
matplotlib
numpy
pandas
scikit-learn
scipy
sentencepiece
graphviz
